<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=testproviderdatabase.cxceqgwc4xmz.us-west-2.rds.amazonaws.com;database=dbo;uid=admin;pwd=Connect2MyTestDB!;" />
    <add key="FileFolder" value="C:\Development\NPPES-ProviderDB\NPPES_Data_Dissemination_December_2024\" />
  </appSettings>
</configuration>